body{
    font-family: Arial;
    margin:0;
    background:#f3f5f7;
}

.container{
    text-align:center;
    padding-top:40px;
}

.profile-img{
    width:160px;
    height:160px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid white;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

#cards-container{
    margin-top:40px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:20px;
}

.card{
    width:200px;
    padding:25px;
    background:white;
    border-radius:15px;
    cursor:pointer;
    transition:all .3s ease;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.card:hover{
    transform:translateY(-8px) scale(1.03);
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

#content{
    margin-top:40px;
    padding:30px;
}
